.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# ignore outputs from test code
/data/output/**
data/ruptureSets/
data/solutions/
data/inversionSolutions

# eclipse

**.project
**.settings
**.classpath


# python 
bin/**
**/__pycache__/**
*.pyc
# *.pytest

.idea/
