# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java SmokeTest with Gradle

on:
  workflow_dispatch:
#  schedule:
#      - cron: '20 15 * * 0'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - name: Clone opensha fork
        if: github.event_name != 'schedule'
        uses: actions/checkout@v2
        with:
          repository: GNS-Science/opensha
          ref: fix/rup-normalization-2024
          path: opensha

      - name: Clone opensha
        if: github.event_name == 'schedule'
        uses: actions/checkout@v2
        with:
          repository: opensha/opensha
          ref: master
          path: opensha

      - uses: actions/checkout@v2
        with:
          path: main

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build with Gradle
        run: |
          cd main
          chmod +x gradlew
          ./gradlew smokeTest

      #----------------------------------------------
      #       Post error msg to Slack for failed scheduled builds
      #----------------------------------------------
      - name: Post a Slack message if build failed
        uses: slackapi/slack-github-action@v2.0.0
        if: failure() && github.event_name == 'schedule'
        with:
          webhook: ${{ secrets.SCHEDULED_GITHUB_SLACK_WEBHOOK }}
          webhook-type: incoming-webhook
          payload: |
            text: "⚠️*${{ github.event.repository.name }}: ${{ job.status }}*\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.workflow }}>"
